body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-family: 'Roboto', sans-serif;
    font-size: 0.95vw;
}

.container {
    top: 25vh;
    bottom: 25vh;
    left: 25vw;
    right: 25vw;
    position: absolute;
    border: 0.4vw solid rgb(10,10,10);
    border-radius: 0.6vw;
    padding: 0.6vw;
    background-color: rgb(15,15,15);
    overflow: auto;
}

.header {
    text-align: center;
}

.content {
    margin: 0vw;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

h1 {
    text-decoration: underline;
    font-size: 2em;
}

p {
    font-size: 1em;
}

.back {
    font-size: 0.9vw;
    border-radius: 0.3vw;
    border: 0.1vw solid rgb(255,255,255);
    background-color: rgb(255,255,255); 
    margin: 0.3vw;
    padding: 0.2vw 0.3vw;
    top: 0;
    left: 0;
    position: absolute;
    text-decoration: none;
}

.back:hover {
    background-color: rgb(5,5,5);
    color: rgb(255,255,255);
}

.nav {
    font-size: 0.9em;
    color: rgb(255,255,255);
    width: 10vw;
    background: rgb(12,12,12);
    margin: 0.1vw;
    padding: 0.6vw 0vw;
    border-radius: 0.35vw;
    border: 0.1vw solid rgb(0,0,0);
    overflow: hidden;
}

.nav:hover {
    transform: scale(1.075);
}

.nav:active {
    opacity: 0.2;
}

.white:hover {
    color: rgb(12,12,12);
    background-color: rgb(255,255,255);
}

.red:hover {
    color: rgb(255,255,255);
    background-color: rgb(255,0,0);
}

.cyan:hover {
    color: rgb(12,12,12);
    background-color: rgb(0, 255, 255);
}

.green:hover {
    color: rgb(12,12,12);
    background-color: rgb(0, 255, 0);
}

.pink:hover {
    color: rgb(0,0,0);
    background-color: rgb(255, 105, 180);
}

.blurple:hover {
    color: rgb(255,255,255);
    background-color: rgb(114, 137, 218);
}

.black:hover {
    color: rgb(255,255,255);
    background-color: rgb(0, 0, 0);
}

.black:hover {
    color: rgb(255,255,255);
    background-color: rgb(0, 0, 0);
}

.brown:hover {
    color: rgb(255,255,255);
    background-color: rgb(139,69,19);
}

.purple:hover {
    color: rgb(255,255,255);
    background-color: rgb(138,43,226);
}

.yellow:hover {
    color: rgb(0,0,0);
    background-color: rgb(255,255,0);
}

.orange:hover {
    color: rgb(255,255,255);
    background-color: rgb(255,127,0);
}

.left, .middle, .right {
    width: 30%;
    height: 100%;
    overflow: auto;
    overflow-wrap: break-word;
}

.left, .middle {
    float: left;
}

.right {
    float: right;
}

.thumbnail {
    width: 12vw;
    float: right;
}

a {
    text-decoration: none;
    font-style: italic;
    color: rgb(200,200,200);
}

.normalized {
    text-decoration: none;
    font-style: normal;
    color: rgb(255,255,255);
}

button {
    transition-duration: 0.5s;
}

.start {
    text-align: center;
}

.emoji {
    width: 0.9em;
}

.sep {
    visibility: hidden;
    display: none;
}

ul {
    list-style-type: square;
    padding-left: 1vw;
}

li {
    padding-left: 0vw; 
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 4vw;
    }
    .sep {
        visibility: visible;
        display: inline-block;
    }
    .nav {
        width: 20vw;
        height: 10vw;
    }
    .back {
        font-size: 1em;
    }
    .container {
        top: 15vh;
        bottom: 15vh;
        left: 15vw;
        right: 15vw;
    }
}
